<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="ISO-8859-1">
    <title>Spring Web</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div>
        <form action="#" th:action="@{/searchCustomer}" method="get">
            <input type="text" name="name" th:value="${name}" placeholder="Search by customerName"> <input class="btn btn-primary" type="submit" value="Search">
        </form>
    </div>
    
    <div th:switch="${customers}">
        <h2 th:case="null">No existen clientes</h2>
        <div th:case="*">
            <h2>Clientes:</h2>
            <table class="table table-sm table-dark">
                <thead>
                    <tr>
                        <th scope="col">Nombre:</th>
                        <th scope="col">Primer apellido:</th>
                        <th scope="col">Segundo apellido:</th>
                        <th scope="col">DNI:</th>
                        <th scope="col">Fecha nacimiento:</th>
                        <th scope="col"></th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="customer : ${customers}" scope="row">
                        <td th:text="${customer.name}"></td>
                        <td th:text="${customer.firstName}"></td>
                        <td th:text="${customer.secondName}"></td>
                        <td th:text="${customer.dni}"></td>
                        <td th:text="${customer.birthdate}"></td>
                        <td><a class="btn btn-light" th:href="@{/edit/{ID}(ID=${customer.ID})}">Modificar</a></td>
                        <td><a class="btn btn-light" th:href="@{/delete/{ID}(ID=${customer.ID})}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Button to add Customer -->
        <p>
            <a class="btn btn-dark" href="/add">Add new customer</a>
        </p>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>